.elements__item-button {
  background-color: transparent;
  background-image: url(../../../images/like.svg);
  background-position: 50%;
  background-repeat: no-repeat;
  border: none;
  height: 19px;
  margin: 0;
  min-width: 22px;
  transition: 0.2s;
  cursor: pointer;
}

.elements__item-button:hover {
  cursor: pointer;
  opacity: 0.6;
}
