.profile__button-add {
  padding: 0;
  background-color: transparent;
  background-image: url(../../../images/Vector+.svg);
  background-position: 50%;
  background-repeat: no-repeat;
  border: 2px solid #fff;
  border-radius: 2px;
  box-sizing: border-box;
  height: 50px;
  min-width: 150px;
  margin: 0;
  transition: 0.2s;
}

.profile__button-add:hover {
  cursor: pointer;
  opacity: 0.6;
}

@media screen and (max-width: 768px) {
  .profile__button-add {
    background-image: url(../../../images/Vector+1.svg);
    width: 100%;
  }
}
