@import url("../vendor/normalize.css");
@import url("../vendor/fonts/fonts.css");
@import url("../blocks/page/page.css");
@import url("../blocks/content/content.css");
@import url("../blocks/header/header.css");
@import url("../blocks/header/__logo/header__logo.css");
@import url("../blocks/profile/profile.css");
@import url("../blocks/profile/__main/profile__main.css");
@import url("../blocks/profile/__button-add/profile__button-add.css");
@import url("../blocks/profile/__button/profile__button.css");
@import url("../blocks/profile/__image/profile__image.css");
@import url("../blocks/profile/__info/profile__info.css");
@import url("../blocks/profile/__name/profile__name.css");
@import url("../blocks/profile/__text/profile__text.css");
@import url("../blocks/elements/elements.css");
@import url("../blocks/elements/__list/elements__list.css");
@import url("../blocks/elements/__item/elements__item.css");
@import url("../blocks/elements/__item-container/elements__item-container.css");
@import url("../blocks/elements/__item-image/elements__item-image.css");
@import url("../blocks/elements/__item-title/elements__item-title.css");
@import url("../blocks/elements/__item-button/elements__item-button.css");
@import url("../blocks/footer/footer.css");
@import url("../blocks/footer/__copyright/footer__copyright.css");
@import url("../blocks/popup/popup.css");
@import url("../blocks/popup/__container/popup__container.css");
@import url("../blocks/popup/__button-close/popup__button-close.css");
@import url("../blocks/popup/__title/popup__title.css");
@import url("../blocks/popup/__label/popup__label.css");
@import url("../blocks/popup/__input/popup__input.css");
@import url("../blocks/popup/__button-submit/popup__button-submit.css");
@import url("../blocks/popup/_opened/popup_opened.css");

