.popup__label {
  display: flex;
  margin: 0 36px;
  flex-direction: column;
  position: relative;
  padding: 0;
  border: none;
}

@media screen and (max-width: 768px) {
  .popup__label {
    margin: 0 22px;
  }
}
