.popup__button-submit {
  margin: 18px 36px 34px 36px;
  padding: 14px 132px 16px 132px;
  background-color: #000;
  border: none;
  border-radius: 2px;
  color: #fff;
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
  text-align: center;
  transition: 0.2s;
}

.popup__button-submit:hover {
  cursor: pointer;
  opacity: 0.8;
}

@media screen and (max-width: 768px) {
  .popup__button-submit {
    margin: 15px 22px 25px 22px;
    font-size: 14px;
    line-height: 17px;
    padding: 14px 82px;
  }
}

@media screen and (max-width: 320px) {
  .popup__button-submit {
    margin-bottom: 25px;
  }
}
